# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.c
*.html

# Distribution / packaging
build/
dist/
*.egg-info/

# Test results and coverage reports
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
banqi_ppo_logs/

# VSCode specific
.vscode/
Game_cython.cpp
banqi_cython_ppo_logs
banqi_numpy_ppo_logs
**logs
*.zip
training_plots
self_play_tensorboard_logs_optimized
tensorboard_logs
models
saved_models
train_data_buffer.pkl
